.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 70%;
    border: .1rem solid var(--color-primary);
    border-radius: .2rem;
    box-shadow: 0 1rem 4rem rgba(0,0,0, 0.15);
    padding: 3rem;
    left: 15%;
    top: 30%;
    transition: all 0.3s ease-out;
    font-size: 1.8rem;
}